/* Zuna Browser Extenson */
/* Styling for the Options Page  */

/* Body */
.zunnaBody{
  margin: auto;
  width: 80%;
}
/* Content */
.zunnaUptUID{width: 100%;}
.zunnaUptUIDInput{width: 32%; 
  float:left; 
  padding-top: 10px; 
  padding-bottom: 10px;
}
.zunnaButton{width: 49.8%;}
.zunnaUptUIDButton{width: 25%; float:right;}
#updateUserDetails{width: 30%;}

* {box-sizing: border-box}

/* Style the tab */
.zunnaTabLinks {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.333333%;
}

.zunnaTabLinks:hover {
  background-color: #777;
}

/* Style the tab content */
.zunnaTabcontent {
  color: white;
  padding: 70px 20px;
  height: 100%;
}

#About {background-color: red;}
#Settings {background-color: green;}
#Report {background-color: blue;}
/* Footer */
