/* Zuna Browser Extenson */
/* Styling for the PopUp Page  */

/* Body */

/* Header */

/* Content */
#deleteSiteCookies{float:right;}
#zunnaCopyPwdButton{float:right;}
/* Footer */
#zunnaOptionsButton{float:right;}